.side-bar
  .side-bar_header
    .side-bar_header_box
      .side-bar_header_box_user-name name
      .side-bar_header_box_user-menu
        .side-bar_header_box_user-menu_group
          = link_to "#", class:"user-menu_group_edit" do
            = icon('fas','edit')
          = link_to "#", class:"user-menu_group_cog" do
            = icon('fas','cog')


  .side-bar__group-list
    .side-bar__group-list_group
      .side-bar__group-list_group_box
        .side-bar__group-list_group_box-message
          .side-bar__group-list_group_box-message1 techcamp
          .side-bar__group-list_group_box-message2 まだメッセージがありません

    
