.chat-main {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow: scroll;


  // position: relative;
  // padding-bottom: 90px;
  // box-sizing: border-box;
}


  .header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  

    .box1{
      &__test{
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
        margin-bottom: 15px;
        margin-left: 40px;
      }
      &__member{
        font-size: 12px;
        color:  #999999;
        margin-left: 40px;
      }
    }
    .box2{
      width: 72px;
      &__link{
        color: #38aef0;
        font-size: 16px;
        margin: 28px, 20px;
      }
    }
  }


  .message-list{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    .boxes{
      margin-left: 40px;
      .box1{
        display: flex;
        padding-top: 35px;;
        &__message1{
          font-size: 16px;
          color:  #333333;
        }
        &__message2{
          font-size: 12px;
          color:  #999999;
        }
      }
      .box2{
        padding-top: 12px;
        &__message{
          font-size: 14px;
          color:  #434A54;
        }
      }
      .box3{
        padding-top: 46px;
        .messages{
          display: flex;
          &__message1{
            font-size: 16px;
            color:  #333333;
          }
          &__message2{
            font-size: 12px;
            color:  #999999;     
          }
        }
      }
    }
  }


  .message-form{
    height: 90px;
    width: 100%;
    padding: 20px 40px;
    background-color: #ddd;
    // position: fixed;
    // position: absolute;

    .boxes{
      position: relative;

      .new_message{
        display: flex;
      }
      .form__message{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .form__mask__image{
        background-color: white;
        margin-right: 10px;
        // icon: 'fas', 'image', class 'icon';
        font-size: 1.3rem;
        padding-top: 10px;
        padding-right: 10px;
        // align-items: center;
        // cursor: pointer;

        .hidden{
          display: none;
        } 
      }

      .form__submit{
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        color: white;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
      }

        
        // &__message{
        //   width: 100%;
        //   padding-left: 10px;
        // }
        // &__icon{
        //   font-size: 1.3rem;
        //   position: absolute;
        //   top: 10px;
        //   right: 10px;
        //   cursor: pointer;
        // }
        // .link{
        //   color: black;
        // }
        // .hidden{
        //   display: none;
        // }
  
      // .box2{
      //   height: 50px;
      //   width: 100px;
      //   background-color: #38aef0;
      //   margin-left: 15px;
      //   .submit-btn{
      //     height: 50px;
      //     width: 100px;
      //     background-color: #38aef0;
      //     color: white;
      //     font-family: inherit;
      //     font-size: inherit;
      //     cursor: pointer;
      //   }
      // }
    }
  }


